{% extends 'home/header_footer.html' %}

{% block title %}
  {% load staticfiles %}
  <title>SVFB Ranking</title>
  <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">

  
{% endblock title %}


{% block body %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

        <div id="curve_chart" style="width: 900px; height: 500px"></div>

      </div>

      Total score: {{score_by_day}}<br>
      {{d1}} {{s1}}
      

    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Progress (add progress bar)</h1>
        <h2 class="h3">Total score: {{total_score}}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4" id="myChart" width="900" height="380"></canvas>


      <h2>Helpers</h2>
    </main>
  </div>
</div>


<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["6 Days ago", "5 Days ago", "4 Days ago", "3 Days ago", "2 Days ago", "Yesterday", "Today"],
      datasets: [{
        data: [{{s7}}, {{s6}}, {{s5}}, {{s4}}, {{s3}}, {{s2}}, {{s1}}],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
{% endblock body %}