{% extends 'home/header_footer.html' %}

{% block title %}
  {% load staticfiles %}
  <title>SVFB Download</title>
  <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock title %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Thanks for helping me!</h1>
      <p>Please upload your data on the form below (be sure to be logged in)!</p>

      {% if submitted == 'True' %}
        <script>
          alert("File submitted succesfully. Thank you :)");
        </script>
      {% elif submitted == 'False' %}
        <script>
          alert("Your file was not submitted, maybe you are not logged in or your training data is unvalid (too small or altered).");
        </script>

      {% endif %}

      {% include 'data/file.html' %}
    </div>
  </div>

</main>

{% endblock body %}