{% extends 'home/header_footer.html' %}

{% block title %}
  {% load staticfiles %}
  <title>SVFB Home</title>
  <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock title %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">The Stardew Valley Fishing Bot Project</h1>
      <p>Hey! Remember to add a Carousel here, with the first image having this message and the second one something to make people help with data collecting.<br>Whatever... I will write this sometime. Visit Out GitHub, there is a nice README file over there!<br>Add that cool wikipedia image about fishing on the background of this.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Why is this button here? &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Why I made it</h2>
        <p>I wanted some challenge to do as I wait for my university results (I am trying to enter University of São Paulo - Aeronautical Engineering) and this seemed cool, as I have played a lot of Stardew Valley this vacation and the fishing mini-game is simple, because you only have one button to click. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>How it works</h2>
        <p>Blah blah... blah <i>python</i> blah... Blah blah <i>opencv</i> blah blah blah <i>color detection</i> blah blah blah... <i>Finds the green bar</i> blah blah... blah <i>finds the fish</i> blah blah <i>neural network to control the green bar</i> blah... Blah blah blah...</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Help me</h2>
        <p>I am a single programmer and there is still a lot to do, so if you want to help out let me know. However, don't solve the issues not marked as "help wanted" at GitHub, because I'm a beginner and I'm trying to learn it myself. Commented code that explains itself and recommendations are always welcome no matter the case.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock body %}