{% extends 'home/header_footer.html' %}

{% block title %}
  {% load staticfiles %}
  <title>SVFB Blog</title>
  <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock title %}

{% block body %}
<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">The Stardew Fishing Bot Blog</h1>
    <p class="lead blog-description">Check the bot's updates, website changes, what I am working on and more!<br> Also, I do edit a lot of the posts right after writing it, so don't freak out if you don't see it happening.<br></p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        {% include 'blog/posts.html' %}
        {% block content %}

        {% endblock content %}

      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Found a bug?</h4>
        <p>If you found a bug on the website/program, comment about it at GitHub. Also, if you have any ideas on how to improve anything, just send me an e-mail or comment on GitHub too.</p>
      </div>
      </div>
  </div><!-- /.row -->
</div><!-- /.container -->

{% endblock body %}